<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 DRAFT//EN">
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Algorithmic Transparency Institute">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
  <body>
    <div id='root'></div>
  </body>
</html>
